#Main_table{
	font-size:16px;
} 

#Symptome_label{
	border: 1px solid silver;
	border-radius: 4px;
	background: white;
	color:black;
	font-size:12px;
}

#Title_label{
	font-size:24px;
	font-weight:bold;
	color:brown;
}

QPushButton{
	border:1px solid silver;
	border-radius:3px;
	font-size:12px;
	font-weight:bold;
} 
QPushButton::hover{
	border-color:orange;
	background-color:#fffae0;
} 
QPushButton::checked{
	border-color: red; 
	background-color:#ffc6c6;
}
QPushButton::menu-indicator{image: url(' '); width:0px;}
QPushButton::pressed{background-color:#ffe7a3;}
